.textendedShadowBox {
    border: 1px solid #333;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #000;
    padding: 6px 8px;
    width: calc(100% - 36px);
    box-sizing: border-box;
    display: flow-root;
    margin: 1rem auto;
}

.textendedFancyHeader {
    font-family: 'Modesto Condensed';
    font-size: 1.5rem;
    border-bottom: 1px solid #333;
    text-shadow: 1px 1px 1px #999;
    padding-left: 6px;
    margin-bottom: 8px;
}

.textendedFancyHeader::first-letter {
    font-size: 2rem;
}

.textendedFancyHeader p {
    margin: 0px;
}

.textendedNarration {
    background-color: #96F1F3;
}

.textendedNote {
    background-color: #00C198;
}

.fontSignika {
    font-family: 'Signika';
}

.fontModesto {
    font-family: 'Modesto Condensed';
}

.fontFantasy {
    font-family: fantasy;
}